<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>职业履历</h2>
<div class="summary">
    <p>
	5年web产品业务需求分析经验,及5年web应用测试开发经验。
	<p><b>产品业务分析：</b>经历了IBM CIO向敏捷开发转型的全过程，同时也参与了IBM z主机的计费模式转型。我的主要工作是梳理战略全局的需求，然后制定子应用的业务需求和逻辑规则，以保证整个业务解决方案在子应用及上下游应用可以无缝对接，并且成功实施。
	熟悉Agile开发流程。有很强的学习能力，理解能力里以及解决问题的能力。</p>
	<p><b>测试方面：</b>主要从事基于Web的功能性测试,接口测试,以及自动化测试脚本（shell,Python）的开发。熟悉Robotframework框架及常见库的使用，能用python编程开发自定义关键字。搭建基于Jekins的一键部署pipeline.</p>
	希望申请的职位能够让我在产品业务分析领域积累更多的项目经验以及行业经验。	
	</p>
	<p>
	<a href="#" target="https://liuyang0116.github.io/LiuYangResume/"><b>https://liuyang0116.github.io/LiuYangResume/</b></a>.
	</p>
</div><!--//summary-->
</section><!--//section-->
