<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Working experience</h2>
<div class="summary">
    <p>
	5 years of To B product business analysis experience, and 5+ years of web testing experience.
	<p><b>Business analysis：</b>I have experienced the transformation of IBM CIO from traditional development to agile, meanwhile, I fully took participate in the transformation of z mainframe Pricing.I own 2 applications, my responsibility is to analyze and sort out the business requirment basing on the golbal business strategy, and to determine how our applications can best functionally fulfill those needs.  
	
	熟悉Agile开发流程。有很强的学习能力，理解能力里以及解决问题的能力。</p>
	<p><b>Testing：</b>主要从事基于Web的功能性测试,接口测试,以及自动化测试脚本（shell,Python）的开发。熟悉Robotframework框架及常见库的使用，能用python编程开发自定义关键字。搭建基于Jekins的一键部署pipeline.</p>
	希望申请的职位能够让我在产品业务分析领域积累更多的项目经验以及行业经验。	
	</p>
	<p>
	<a href="#" target="https://liuyang0116.github.io/LiuYangResume/"><b>https://liuyang0116.github.io/LiuYangResume/</b></a>.
	</p>
</div><!--//summary-->
</section><!--//section-->
