<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Working experience</h2>
<div class="summary">
    <p>
	5 years of To B product business analysis experience, and 5+ years of web testing experience.
	<p><b>Business analysis：</b>I experienced the transformation of IBM CIO from traditional development to agile, meanwhile, I fully took participate in the transformation of z mainframe Pricing.I own 2 applications, my responsibility is to analyze and sort out the business requirement basing on the global business strategy, and to determine how our applications can best functionally fulfill those needs.
		I'm quite familiar with the agile process. I'm a quick learner with strong analytical skills and problem-solving abilities.</p>
	<p><b>Testing：</b>I'm farmiliar with web functional testing, web service testing and GUI automation. Known DevOps pipeline. </p>
	I hope the future position could make me get more business analysis skills and more production experience.
</p>
	</p>
	<p>
	<a href="#" target="https://liuyang0116.github.io/LiuYangResume/"><b>https://liuyang0116.github.io/LiuYangResume/</b></a>.
	</p>
</div><!--//summary-->
</section><!--//section-->
