 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Master in Computer Science</h4>
    <h5 class="meta">Beijing JiaoTong University</h5>
    <div class="time">2007 - 2009</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bachelor in Computer Science</h4>
    <h5 class="meta">South West University</h5>
    <div class="time">2001 - 2005</div>
</div><!--//item-->
</div><!--//education-container-->