<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>证书及论文</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">PMP资格认证</h3>
                            <div class="time">2016.09</div>
                        </div><!--//upper-row-->
                        <div class="company">PMP Number: 1945674</div>
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">应用 Rational Quality Manager 与 Rational Team Concert 集成实现软件测试缺陷的统一管理</h3> 
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.ibm.com/developerworks/cn/rational/r-cn-rqmrtctestdefactmanagement/index.html" target="http://www.ibm.com/developerworks/cn/rational/r-cn-rqmrtctestdefactmanagement/index.html">阅读文章</a>.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
				<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">应用 Rational Quality Manager 实现敏捷开发中软件构建的管理与测试</h3> 
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.ibm.com/developerworks/cn/rational/r-cn-rqmagilebuildmanagement/index.html" target="http://www.ibm.com/developerworks/cn/rational/r-cn-rqmagilebuildmanagement/index.html">阅读文章</a>.</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->