<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Project experience</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
            <div class="upper-row">
                            <h3 class="job-title"><b>Product Owner(PO) & Business Analyst(BA)</b></h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
						<div class="company">IBM（China）Investment Co.,Ltd</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">IBM Enterprise internal application - License fulfillment support for Z mainframe Entitled software</a></span> 
			<p></p>
                    <span class="project-tagline"><p><b>Project description: </b>
Eenterprise internal application to IBM sales and marketing team, which helps them to validate the entitled software license and usage of Z mainframe with the specific business rules. Providing business solutions to improve their work efficiency and reduce costs while strengthening internal process management and risk control.</span>
			</p>
			<p><b>Personal Value and Contribution:</b></p>
					<ol>
					<li>Fully took participate in the pricing transformation of Z mainframe. Analyze the new pricing strategy and model, break down to business requirements and continue to deliver the business value ，result in good support to the internal users to manage and validate the new pricing, greatly improve their working efficiency.</li>
					<li>Proposed the solution which has optimized the business process from quote to order. The new solution integrates the quote and license configuration service online instead of the quote offline, configuration online. Integrate multiple B-end application as one solution, which speeds up the business process, improves efficiency, and enhance user experience.</li>
					<li>Lead business analysis for multiple business needs from scratch. In the meanwhile, lead 10 people’s R&D(Research and Development)team to continue developing and delivering business value, and release at least one version each month on average.</li>
					<li>Lead R&D team to transform from traditional development model to Agile, familiar with agile project management.</li>
					<li>Promote the application of BDD (Behavior-driven development) to ensure R&D team correctly understands business requirements.</li>
					</ol>
	
			<p><b>Key responsibilities: </b>Analyze business strategy and requirements, evaluate business values, communicate with stakeholders to understand the business needs, including early research and design. Work out release plan, write user story and acceptance criteria, and work closely with developers to fulfill features of applications. Showcase to stakeholders, collect feedback.</p>
					<ul>
					<li>Sort out story map and work out release plan to ensure continue to deliver business value by the minimum viable product(MVP)</li>
					<li>Propose long-term solutions for specific businesses and make continuous improvements based on the feedback to improve user experience and increase NPS(Net Promoter Score). </li>
			                <li>Take participate in the annual SOX audit（Sarbanes-Oxley), familiar with the compliance of company policies and guidelines to ensure the reliability of financial report and the controllability of application,e.g ASCA(Application Systems Control and Auditability)and ITSS(IT Security Standard)</li>
					<li>Coaching the business training to cross-team members, to ensure upstream and downstream team and key stakeholders could understand our applications' features and rules</li>
					<li>Coordinate with cross-team to promote the progress of the project, to ensure project delivery on time with high-quality.<li></ul>                              
					
			<p><b>Agile management tools：</b>JIRA, Trello, Mural</p>	
                </div><!--//item-->
				<br></br>
						<div class="upper-row">
                            <h3 class="job-title"><b>Testing Lead</b></h3>
                            <div class="time">2011 - 2015</div>
                        </div><!--//upper-row-->
						<div class="company">IBM（China）Investment Co.,Ltd</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">License fulfillment support for Z mainframe Entitled software</a></span>
                    <span class="project-tagline"></span>
					<p></p>
			<p><b>Personal Value and Contribution:</b></p>
				   <ol>
					<li>Responsible for proposing testing solution to improve product quality. Based on the principle of lean testing to design unit testing, functional testing, and API testing. Improved the testing efficiency while reducing project risks;</li>
					<li>Leveraged Docker+ Jenkins to set up the CI/CD pipeline, which optimized the deployment process on testing and production environment.</li>
					<li>Introduced and improve testing method, set up automation testing basing on Robotframework. The GUI scripts can cover 100% function regression testing.   
</li></ol>
			<p><b>Key responsibilities: </b></p>
			   <ul>
					<li>Take participate in the business analysis, work out testing plan, design, and guide tester to excute testing cases.</li>
					<li>Develop testing strategy based on the current project development model, improve test methods and management, and promote the landing and implementation of test strategies.</li>
					<li>Cooperate with cross-team members to promote the implementation and delivery of business features.</li>
				        <li>Work with the R&D team to quickly locate defects happend on production or testing environment, promote the resolution of defects</li>
				        <li>Share and train business knowledge to R&D team and cross-team</li>
			</ul>
			   			   
			   <p><b>Skills: </b>Web Service API testing, Web GUI automation testing, Set up DevOps pipeline</p>
					<p></p>
			   <p><b>Programing language: </b>Java, Python</p>
					<p></p>
					
                </div><!--//item-->
				<br></br>
				<div class="upper-row">
                            <h3 class="job-title"><b>Development tester</b></h3>
                            <div class="time">2009 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Gemalto（China）Investment Co.,Ltd, Beijing</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Data analysis and verification for Extract-Transform-Load（ETL）</a></span>
					<span class="project-tagline"></span>
			<p></p>
			<p><b>Personal Value and Contribution: </b>Develop shell scripts to verify the data of Extract-Transform-Load（ETL）is integrity and reliable.</p>
                	<p><b>Key responsibilities: </b>Work out testing plan, design test cases，set up testing environment, and develop the testing scripts basing on shUnit framework.</p>
				
				<p><b>Development environment: </b>Redhat4 + Oracle10.0.2</p>
				<p><b>Skills: </b>Linux/Unix，Shell programming</p>
				</div><!--//item-->
            </section><!--//section-->
