<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>项目经历</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
						<div class="upper-row">
                            <h3 class="job-title"><b>软件工程师</b></h3>
                            <div class="time">2011 - Present</div>
                        </div><!--//upper-row-->
						<div class="company">国际商业机器, 北京</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Z Serial 大型机软件计费管理系统</a></span> - 
                    <span class="project-tagline"><b>项目描述：</b>CIO 大型服务器及其授权软件使用和收费管理，LMS(License Management Software)</span>
					<p><b>个人职责：</b>制定测试计划，准备测试数据，设计并执行测试用例，缺陷分析</p>
					<p>软件开发模式是敏捷开发，根据每个版本的需求制订SIT(Software Integration Testing)软件集成测试计划，准备测试数据，编写并执行测试用例；</p>
					<p>在SIT结束后，撰写缺陷分析报告；</p>
					<p>给cross team 准备UAT（User Acceptance Testing)测试数据；</p>
					<p><b>管理工具：</b>RQM（Rational Quality Management）,RTC（Rational Team Concert）,RPT (Rational Policy Tester)</p>
					<p><b>主要技术:</b> Web功能测试，AVT测试(Accessibility Testing</p>
					<p><b>项目创新及改进：</b>
					开发测试相关的自动化测试工具，能根据前台输入自动生成大型机在数据库中的对应注册码的SQL语句。传统的作法是根据数据文件及业务流程手动修改或创建SQL语句，该工具有效的规避了手动修改需要付出大量的时间以及避免了由于手动修改带来的错误。</p>
					<p><b>开发语言：</b>Java ; 框架：Swing; IDE：NetBeans7.0.1 ;</p>
					<p></p>
					<span class="project-title"><a href="#" target="_blank">搭建可持续交付的自动化测试框架</a></span> - 
                    <span class="project-tagline"><b>项目描述：</b>利用Jekins+Robotframework+Selenium实现自动化测试</span>
					<p><b>个人职责：</b>搭建框架，开发脚本</p>
                </div><!--//item-->
				<br></br>
				<div class="upper-row">
                            <h3 class="job-title"><b>软件工程师</b></h3>
                            <div class="time">2009 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">金雅拓, 北京</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">项目描述：数据分析ETL测试；</a></span> -
					<span class="project-tagline">A responsive website template designed to help startups promote their products or services and to attract users &amp; investors</span>
                <p><b>个人职责：</b>制定测试计划，设计测试用例，搭建测试数据，设计并开发基于shUnit的自动化测试框架及脚本，实施测试用例 ；</p>
				<p><b>个人贡献：</b>
				根据业务逻辑准备测试数据并利用自动化测试脚本验证ETL的业务逻辑，错误处理，数据完整性 ；
				开发的自动化测试脚本实现了在回归测试中对ETL业务逻辑的验证 ；
				设计并实施了针对ETL性能以及并发性的测试 ；</p>
				<p><b>测试及开发环境：</b>Redhat4 + Oracle10.0.2</p>
				<p><b>主要技术：</b>Linux/Unix命令，ETL测试，Shell编程，shUnit，逻辑驱动测试，性能测试 ；</p>
				</div><!--//item-->
            </section><!--//section-->