<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Project experience</h2>
                <div class="intro">
                    <p></p>
                </div><!--//intro-->
            <div class="upper-row">
                            <h3 class="job-title"><b>Business analyst</b></h3>
                            <div class="time">2015 - Present</div>
                        </div><!--//upper-row-->
						<div class="company">IBM（China）Investment Co.,Ltd</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Z Serial mainframe license management support</a></span> - 
                    <span class="project-tagline"><b>Project description：</b>CIO Z mainframe license management support，including 2 web applications，which are used by IBM external client and IBM support team respectively</span>
			<p></p>		
			<p><b>Key responsibilities：</b>基于上层解决方案，与干系人（Stakeholder）沟通并制定子应用的需求分析和业务逻辑（Business Analysis），制定版本发布计划（Release Plan），编写用户故事（User Story），给项目关键干系人演示应用功能（Show Case）并收集反馈以便进一步改进</p>
					<p>应用的开发模式是敏捷开发，在每个迭代需要与开发沟通需求，并制定迭代开发计划（Iteration Plan）；</p>
					<p>负责页面原型设计，保证沟通高效；</p>
					<p>审核测试用例，以保证产品质量；</p>
					<p>负责跨团队的业务培训，以保证上下游团队以及关键干系人能更清楚我们的业务规则；</p>
					<p>参与及配合每年的SOX（Sarbanes-Oxley）审计，熟悉ASCA（Application Systems Control and Auditability）及ITSS（IT Security Standard）；</p>
					<p><b>Tools：</b>RTC（Rational Team Concert), JIRA</p>
					<p><b>项目创新及改进：</b></p>
					<p>1.带领团队开发并实现全新的Web应用（App），该应用的用户是IBM客户以及IBM销售团队，它的商业价值是支持IBM z Pricing转型，使客户更快速，更便捷的了解到如果使用新的计价方式，将会给客户节约多少成本，同时客户能获得多大的利益。
					  <br>  - 与上层需求团队沟通需求，制定业务逻辑；
					  <br>  - 参与所有页面原型设计，根据实际的业务情况创新页面的展示，解决了如何在同一个页面清晰的展示多组数据的上传；
					  <br>  - 制定项目发布计划，以保证项目按照敏捷开发的模式开展；
					  <br>  - 撰写用户故事以及相关计算文档；
					  </p>
					<p>2.自动化管理已有应用的用户授权。制定业务需求并实现流程上自动管理应用的用户授权。
					  <br>  - 制定业务逻辑，保证权限管理和控制符合审计及ITSS的要求；
					  <br>  - 参与应用页面原型设计，保证权限管理在两个web应用(Application)间无缝连接；
					  <br>  - 制定项目发布计划， 撰写用户故事， 收集用户反馈，迭代发布对用户有价值的功能；
					</p>
					<p>3.提高了子应用的净推荐值(New Product Standard)
					  <br>  - 经过一年多的努力，NPS值提高了20个点；
					</p>
					
                </div><!--//item-->
				<br></br>
						<div class="upper-row">
                            <h3 class="job-title"><b>Tester</b></h3>
                            <div class="time">2011 - 2014</div>
                        </div><!--//upper-row-->
						<div class="company">IBM（China）Investment Co.,Ltd</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Z Serial mainframe license management support</a></span> - 
                    <span class="project-tagline"><b>Project description：</b>CIO 大型服务器及其授权软件使用和收费管理，LMS(License Management Software)</span>
					<p></p>
			                <p><b>Key responsibilities：</b>参与需求分析，制定测试计划，准备测试数据，设计并执行测试用例，缺陷分析；</p>
					<p>应用开发模式是敏捷开发，根据每个版本的需求制订SIT(Software Integration Testing)软件集成测试计划，准备测试数据，编写并执行测试用例；</p>
					<p>在SIT结束后，撰写缺陷分析报告；</p>
					<p>给cross team 准备UAT（User Acceptance Testing)测试数据；</p>
					<p>自动化测试脚本的开发和维护：最早的脚本是基于IBM RFT（Rational Functional Test)的JAVA脚本，后来迁移到基于Robotframework框架和Selenium库的自动化脚本,利用python编写keyword ；</p>
					<p><b>Tools：</b>RQM（Rational Quality Management）,RTC（Rational Team Concert）</p>
					<p><b>主要技术：</b> Web功能测试，AVT测试(Accessibility Testing),GUI和API的自动化测试</p>
					<p><b>项目创新及改进：</b></p>
					<p>1.自主开发Web Service的自动化测试脚本，主要语言是Python, 该脚本可以在Robotframework上运行，相比GUI的自动化测试，更高效，节约了时间成本。</p>
					<p>2.自主开发桩测试，成功的分离了应用的前后端开发，从技术上使前后端的需求可以被拆分，并在不同的迭代周期交付。</p>
					<p>3.可持续交付（CI）与自动化测试脚本的集成：利用jenkins实现CI的集成，搭建Jekins Pipeline</p>
					<p>4.利用JAVA开发java applet程序：根据用户输入自动生成大型机在数据库中的对应注册码的SQL语句。传统的作法是根据数据文件及业务流程手动修改或创建SQL语句，该工具有效的规避了手动修改需要付出大量的时间以及避免了由于手动修改带来的错误。</p>
					<p></p>
			                <p><b>开发技术：</b>语言：Java，Python; IDE：NetBeans7.0.1,Eclipse,Pycharm ;Web Server: Tomcat;配置管理：Git/Github；协议：HTTP</p>
					<p></p>
					
                </div><!--//item-->
				<br></br>
				<div class="upper-row">
                            <h3 class="job-title"><b>Tester</b></h3>
                            <div class="time">2009 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">金雅拓（中国）投资有限公司, 北京</div>
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">后台数据分析应用（ETL）的测试</a></span>
					<span class="project-tagline"></span>
			<p></p>
                <p><b>个人职责：</b>制定测试计划，设计测试用例，搭建测试环境，准备测试数据，设计并开发基于shUnit的自动化测试框架及脚本，实施测试用例 </p>
				<p><b>个人贡献：</b>
				利用shUnit + shell脚本验证ETL的业务逻辑，错误处理，数据完整性
				</p>
				<p>根据业务逻辑准备测试数据并利用自动化测试脚本验证ETL的业务逻辑，错误处理，数据完整性 ；</p>
				<p>开发的自动化测试脚本实现了在回归测试中对ETL业务逻辑的验证 ；</p>
				</p>
				<p><b>测试及开发环境：</b>Redhat4 + Oracle10.0.2</p>
				<p><b>主要技术：</b>Linux/Unix命令，ETL测试，Shell编程，shUnit，</p>
				</div><!--//item-->
            </section><!--//section-->
