<!-- Use icons from fontawesome when you are adding new item in the contact list  -->             

                 
     <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="{{site.baseurl}}/assets/images/yangyang.png">
                <h1 class="name">Yang Liu</h1>
                <h3 class="tagline">Business Analyst</h3>
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                   
                   {% if site.email %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{site.email}}">{{site.email}}</a></li>
                    {% else %}
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto:alan.doe@website.com">yang.liu05261@gmail.com</a></li>
                    {% endif %}
                    
                    {% if site.phone %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{site.phone}}">{{site.phone}}</a></li>
                    {% else %}
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:012 345 6789">18911631236</a></li>
                    {% endif %}
                   
                    
                    {% if site.github %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/{{site.github}}" target="_blank">github.com/{{site.github}}</a></li>
                    {% else %}
                    <li class="github"><i class="fa fa-github"></i><a href="http://github.com/sharu725" target="_blank">github.com/sharu725</a></li>
                    {% endif %}
                    
                    
                    
                </ul>
            </div><!--//contact-container-->
           {% include education.html %}
           {% include language.html %}
           {% include interests.html %}
        
            
        </div><!--//sidebar-wrapper-->
